[submodule "public"]
	path = /public
	url = https://github.com/thisisshi/thisisshi.github.io.git
	branch = master

[submodule "pristine"]
  path = /themes/pristine
  url = https://github.com/sakibccr/pristine.git
  branch = master
