<div class = "footer">

          <div class = "row">
            <div class = "four columns">
              <h5>Hire me!</h5>
              <p>I'm interested in web development, particularlly with Ruby on Rails, Sinatra, Bootstrap, and ember.js</p>
              You can find more of my work on my Github
            </div>
            <div class = "eight columns">
              <h5>About this blog:</h5>
              This blog is basically a testing ground for different web development frameworks, new and rising technologies, general rambling about topics that interest me. You will likely find a smattering of posts on Mechanical Keyboards, Film, Computer Science topics, and more.
            </div>
          </div>
      </div>