<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Me</h5>
        <p class="grey-text text-lighten-4">I'm a recent graduate from The Ohio State University and currently working as a software engineer. I'm interested in web and mobile technologies specifically with Node.JS and Meteor.</p>
        <p class="grey-text text-lighten-4"> In my free time you can typically find me keeping up to date with my hobbies such as mechanical keyboard collecting, photography, music production, or playing League of Legends.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.github.com/thisisshi">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.behance.net/lishi">Behance</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.soundcloud.com/thisisshi">Soundcloud</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Sonny Shi
    </div>
  </div>
</footer>
