<nav>
  <div class="nav-fixed">
    <div class="container">
      <a href="{{ "/index.html" | prepend: site.baseurl }}" class="brand-logo">sonny</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/blog">Blog</a></li>
        <li><a href="{{ "/content/resume.pdf" | prepend: site.baseurl }}">Résumé</a></li>
        <li><a href = "http://www.github.com/thisisshi">Github</a></li>
        <li><a href = "mailto:theli@outlook.com">Contact Me</a></li>
      </ul>
    </div>
  </div>
</nav>
