      <div class="three columns sidebar" id="sidebar">
        <a class = "home-link" href="{{ "/index.html" | prepend: site.baseurl }}"><h2>sonny</h2></a>
        <h6>the blog</h6>
        <p>Current Student at The Ohio State University, graduating Spring of 2016.</p>

        <a class = "button button-primary" href="{{ "/content/resume.pdf" | prepend: site.baseurl }}">Résumé</a>
        <a class = "button button-primary" href = "http://www.github.com/thisisshi">Github</a>
        <a class = "button button-primary" href = "mailto:theli@outlook.com">Contact Me</a>
      </div>