<nav class='nav-fixed cyan darken-2 z-depth-1'>
  <div>
    <div class="container">
      <a href="{{ "/index.html" | prepend: site.baseurl }}" class="brand-logo"><i class="material-icons">change_history</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/blog">Blog</a></li>
        <li><a href="{{ "/content/resume.pdf" | prepend: site.baseurl }}">Résumé</a></li>
        <li><a href = "http://www.github.com/thisisshi">Github</a></li>
        <li><a href = "mailto:theli@outlook.com">Contact Me</a></li>
      </ul>
    </div>
  </div>
</nav>
