@charset "utf-8";
* {
	box-shadow:none;
	border-radius:0
}
img {
	border:none;
	vertical-align: middle;
}
h4 {
	margin:0;
	padding:0;
	line-height:normal
}
p {
	margin:1em 0
}
BODY {
	FONT-FAMILY:Arial, Helvetica, sans-serif;
	font-size:100%
}
#container {
	MARGIN:0 auto;
	width:100%;
	max-WIDTH:960px;
	FONT-SIZE:87.5%;
	background-color:#fff;
	display: block;
	overflow: hidden;}
#footerArea {
	background-color:#fff;
	width:100%;
	height:auto;
	clear:both;
	float:left
}
#ongoingEvents {
	width:100%;
	border-top:1px dashed #ccc;
	display:block;
	padding:10px;
	background-color:#efefef
}
.ongoingEventsRow {
	display:block;
	width:99%;
	border-bottom:1px dashed #ccc;
	margin-bottom:10px
}
.ongoingEventsDates {
	width:30%;
	float:left
}
.ongoingEventsTitle {
	width:70%;
	display:inline-block;
	clear:right
}
td.gutter {
	padding:5px
}
.fullContent {
	/* width: 65%; */
	float: left;
	margin:10px;
	margin: 1%;
	padding-left: 20px;
}
.fullContent ul {
	padding-left:40px
}
.TITLETEXT {
	padding:10px 0
}
h2.TITLETEXT {
	margin: 0px;
	font-size:1.2em;
}
A:link:hover, A:link:visited:hover {
	COLOR:#666
}
a {
	color:#069
}
#form2 {
	margin:3px
}
.bodylinks, .bodylinks:visited {
	text-decoration:none;
	padding-bottom:4px
}
.accordLink, .accordLink:visited {
	display:list-item;
	margin-left:10px;
	padding:2px 0;
	text-decoration:none;
	list-style-type:disc
}
.shortdesc {
	text-indent:0;
	padding:5px 0
}
span.moreLink {
	display:table;
	width:98%
}
a.moreLink, a.moreLink:visited {
	float:right;
	padding:4px 6px;
	margin-right:10px;
	text-decoration:none;
	background-color:#EFEEE2;
	color:#000;
	display:block;
	width:auto;
	border-radius:5px;
	text-transform:uppercase;
	font-size:80%
}
a.moreLink:hover {
	background-color:#eee
}
#superTop {
	width:100%;
	text-align:right;
	height:40px;
	background-color:#505060
}
#superTop .migovlink a {
	background-image:url(/images/miniMIgovLogo.png);
	background-repeat:no-repeat;
	display:inline-block;
	background-position:0 0;
	width:70px
}
ul#bannerLinks {
	margin:0
}
div#menubannerLinks {
	display:none
}
#bannerLinks li, div#bannerLinks, div#menubannerLinks li, ul#bannerLinks {
	display:inline-block
}
#bannerLinks a, #menubannerLinks a, #superTop a {
	text-decoration:none;
	PADDING:17px 10px 11px 10px;
	display:block;
	color:#fff
}
#bannerLinks .migovlink a, #menubannerLinks .migovlink a {
	background-image:url(/images/miniMIgovLogo.png);
	background-position:0 0;
	background-repeat:no-repeat;
	display:inline-block;
	text-align:right
}
#bannerLinks .migovlink a:hover, #menubannerLinks .migovlink a:hover, #superTop a:hover {
	background-position:0 -45px;
	background-color:#FFF;
	color:#000
}
#superTop a#navreveal {
	padding:6px 10px
}
#bannerArea {
	width:100%;
	float:right;
	display:block;
	/* overflow:hidden; */
	/* white-space:nowrap; */
	vertical-align:bottom
;
	background-position: 0px 40px;
	background-repeat: no-repeat;
}
img.AGENCY_HEADER_L {
	display:inline-block;
	float:left;
	width:50%
}
img.AGENCY_HEADER_R {
	display:inline-block;
	width:50%
}
#subTop {
	width:100%;
	display:inline-block;
	height:auto;
	float:left
}
#topnavlinks a {
	display:block;
	width:100%
}
ul#TOP_NAV_LINKS {
	margin:0;
	width:100%;
	display:block;
	padding:0
}
#TOP_NAV_LINKS li {
	list-style:none;
	display:inline-block
}
a.topnavlinks, a.topnavlinks:visited {
	color:#fff;
	font-weight:700;
	text-decoration:none;
	display:inline-block;
	width:auto;
	float:left;
	margin:0 2px 0 0;
	padding:7px 10px
}
a.topnavlinks:hover, a.topnavlinks:visited:hover {
	display:inline-block
}
ul#TOP_NAV_LINKS li.first a.topnavlinks {
	width:140px;
	padding:7px 5px
}
#siteMap {
	padding:0 20px
}
#siteMap li a.lvl1 {
	font-weight:700;
	text-transform:uppercase;
	line-height:2em
}
#siteMap li a {
	text-decoration:none
}
#footerArea {
	border-top:1px solid #ddd
}
#footerArea a {
	text-decoration:none
}
#footerArea li {
	display:inline
}
#footerArea a:hover {
	color:#666
}
#footerArea li.fLinks {
	padding:0 5px;
	border-right:1px solid #ddd
}
#footerArea li.fLinksend {
	padding:0 0 0 5px
}
ul.footerLinks {
	width:100%;
	float:left;
	font-size:.9em;
	padding:0;
	margin-top:0
}
.copyright {
	font-size:.7em;
	display:block;
	width:100%;
	clear:both;
	padding-bottom:20px
}
div#expandedFooter h2 {
	margin:0;
	font-size:1.2em	
}
div#expandedFooter {
	display:block;
	width:100%;
	text-align:left
}
div#expandedFooter ul {
	padding:0;
	list-style-type:none
}
div#expandedFooter li {
	display:list-item;
	padding-bottom:3px
}
div#expandedFooter span {
	float:left;
	width:100%
}
div#expandedFooter .footer_5 {
	width:18%;
	FLOAT:LEFT;
	display:inline-block;
	margin:0 1%
}
div#expandedFooter .footer_4 {
	width:23%;
	FLOAT:LEFT;
	display:inline-block;
	margin:0 1%
}
div#expandedFooter .footer_3 {
	width:31%;
	FLOAT:LEFT;
	display:inline-block;
	margin:0 1%
}
div#expandedFooter .footer_2 {
	width:48%;
	FLOAT:LEFT;
	display:inline-block;
	margin:0 1%
}
div#expandedFooter .footer_1 {
	width:100%;
	FLOAT:LEFT;
	display:inline-block;
	margin:.25%;
	text-align:center
}
div#agencylinks.footer_1 {
	border-top:1px solid #999;
	padding-top:10px
}
div#agencylinks.footer_1 li a, div#policylinks.footer_1 li a {
	padding:0 10px
}
div#expandedFooter .footer_1 ul {
	margin:0;
	padding:0
}
div#expandedFooter .footer_1 li {
	display:inline-block;
	margin:0 20px
}
div#expandedFooter .footer_1 h4.footerHeader {
	display:none
}
.qltitleglobal, .qltitlelocal, .rltitle {
	font-weight:700;
	font-size:100%
}
img.docIcon {
	width: 16px;
	height: 16px;
	margin-left: 4px;
}
.docIcon.rss {
	float:right;
	clear:both
}
.themeLink, .themeLink:visited {
	font-weight:700;
	padding:5px;
	margin:5px 0;
	text-decoration:none;
	display:block;
	border-top:0;
	border-right:0;
	opacity:1
}
.themeLink:hover {
	border-top:0;
	border-right:0
}
#mainnav {
	background-color:transparent;
	border:none
}
#nav A {
	DISPLAY:block;
	TEXT-DECORATION:none;
	margin-bottom:1px
}
#mainnav UL#TOP_NAV_LINKS {
	width:99%
}
#mainnav #TOP_NAV_LINKS li {
	width:95%;
	margin-bottom:-1px
}
#mainnav #TOP_NAV_LINKS li a.topnavlinks, #mainnav ul#TOP_NAV_LINKS li.first a.topnavlinks {
	width:99%;
	border-radius:0;
	padding:.5em 3%
}
#mainnav LI A, #nav LI A {
	border-bottom:1px solid #ddd;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
#mainnav UL.Open LI A, #nav UL.Open LI A {
	position:relative;
	top:0;
	margin:0;
	left:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
#listEvent {
	float:right;
	font-weight:700;
	margin-bottom:20px
}
tr.eventRow td {
	padding:3px 0;
	border-top:1px dotted #ddd;
	white-space:normal
}
.responsive-tabs__list__item {
	border-radius:0
}
.responsive-tabs__heading {
	box-shadow:none;
	text-decoration:none
}
.responsive-tabs__heading a, .responsive-tabs__heading a:hover, .responsive-tabs__heading a:visited, .responsive-tabs__heading h2 {
	text-decoration:none
}
.responsive-accordion-wrapper {
	width:98%
}
#rightNav .responsive-accordion__heading a:hover {
	display:block
}
.responsive-accordion__heading a, .responsive-accordion__heading a:link, .responsive-accordion__heading a:visited, h2.responsive-accordion__heading {
	text-decoration:none
}
#social_nav_horizontalRD {
	position:relative;
	margin: 4px;
	padding:0;
	display:inline-block;
	float:right;
	border-radius:4px;
	z-index: 100;
}
.utilityItems {text-align:right}
.utilityItems DIV A {TEXT-ALIGN: center; MARGIN: 0px 2px; padding:1px; DISPLAY: block;border: 1px solid #E7E7E7}
.utilityItems DIV {	DISPLAY: inline-block}
.utilityItems DIV A:hover {BACKGROUND-REPEAT: no-repeat;background-position:bottom left;background-size:cover}
#social_nav_horizontalRD .utilityItems DIV a#fb{background-color:#3B5998}
#social_nav_horizontalRD .utilityItems DIV a#tw{background-color:#4099ff}
#social_nav_horizontalRD .utilityItems DIV a#mailpage{background-color:#666}

.navLinks a {
	width:100%;
	/* min-width:150px; */
	float:left
}
.componentHeaderImg {
	padding: 10px;
	/* display: block; */
}
.pull-right {
	float: right !important;
	/* display: block; */
	max-width:50%
}
.pull-left {
	float: left !important;
	/* display: table; */
	max-width:50%
}
.inner{padding: 0px 5px;
  display: block;}
embed, img, object, video {
	max-width:100%;
	height:auto;
	width:auto}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden
}
.video-container embed, .video-container iframe, .video-container object {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
img.flex {
	max-width:98%;
	height:auto;
	width:auto;	
}
.video-wrapper, .video-wrapper2 {
	max-width:100%;
	height:auto;
	width:auto;
}
.cTitle, h2.cTitle,  P.cTitle {
	display:block;
	font-size:1.2em;
	margin: 0px 0px
}
h2.catCallDisplayText1,.catCallDisplayText1 {
margin-top:15px;
display: inline-block;
float: left;
font-size:1.2em;
clear: both;
width: 100%;
}
#searchForm {
	position:absolute;
	top:0;
	z-index:900;
	display:block;
	width:200px;
	height:40px
}
ul.quickLinks li {
	margin-bottom:5px
}
ul.quickLinks {
	margin-top:0;
	padding:0;
	margin-left:10px;
	list-style-type:disc
}
#rightNav {
	display:block;
	min-width: 150px;
}
#rightNav a {
	text-decoration:none
}
#rightNav td {
	padding-bottom:5px
}
#rightLinkPush {
	width:100%;
	display:block
}
#rightLinkPush a {
	width:94%;
	font-weight:700;
	display:block;
	float:left;
	padding:4px;
	font-size:87.5%;
	margin-bottom:3px
}
.govDeliveryBox {
	font-size:100%
}
.govDeliveryBox a.dkblue, .govDeliveryBox a.dkblue:visited {
	text-decoration:none;
	color:#069;
	font-weight:700
}
.govDeliveryBox a.white, .govDeliveryBox a.white:visited {
	text-decoration:none;
	color:#fff;
	font-weight:700
}
.govDeliveryBox img {
	border:none;
	float:right
}
p.authorInfo {
	margin:2px 0
}
a.editLink,a.editLink {
	BACKGROUND-COLOR:#eee;
	/* display:inline-block; */
	text-decoration:none;
	FONT-SIZE:.875em;
	text-transform:uppercase;
	/* margin:0; */
	/* padding:0 5px; */
	/* width:auto; */
	/* text-indent:0; */
	/* color:#000
 */}
#mainnav LI a.editLink:hover, #nav LI a.editLink:hover, .editLink:hover, a.editLink:hover {
	BACKGROUND-COLOR:#FC9
}
a.pencil {
	background-color:#FC3;
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
	font-size:.875em;
	/* width: 20px; */
	height: 16px;
	display: inline-block;
}
a.pencil:hover {
	background-color:#eee;
	color:#000
}
a.pencil img {
	border-radius:2px;
	width: auto;
	height:16px;
	float:left
	
}
a.clearLink, a.clearLink:visited {
	BACKGROUND-COLOR:#9FC;
	/* display:inline-block; */
	text-decoration:none;
	FONT-SIZE:.875em;
	text-transform:uppercase;
	/* margin:0 4px; */
	padding:0 5px;
	width:auto;
	/* clear:both; */
	/* text-indent:0; */
	float: left;
	position: relative;
}
a.clearLink:hover {
	background-color:#FC0;
	color:#000
}
.componentHeaderImg.LEFT {
	FLOAT:left
}
.RIGHT {
	float:right
}
.faqtitletext {
	font-size:1.4em
}
.showDetail a {
	text-decoration:none;
	color:#369
}
.showDetail a:hover, .showDetail dt:hover {
	text-decoration:none;
	color:#000;
	background-color:#fff
}
.showDetail dt {
	display:block;
	border-bottom:1px solid #ddd;
	font-weight:700;
	margin:5px 0;
	padding:5px;
	background-color:#efefef
}
#faqList.showDetail dt::before {
	content:"Q: "
}
#faqList.showDetail dd::before {
	content:"A: "
}
#faqList.showDetail dd {
	border:1px solid #ccc;
	padding:10px;
	margin:0
}
.faqpagetitle {
	font-size:1.4em;
	font-weight:700
}
.toggleTitle {
	display:none
}
#toggleList.showDetail dt::before {
	content:"View! "
}
a.faqcatlist {
	text-decoration:none
}
.message{padding:10px;margin:20px 0px;background-color:#efefef}
div#yearArchive{padding:0px 20px; }
a.yearlinks{padding:5px; background-color:#efefef; font-weight:bold; color:#000; text-decoration:none;margin: 5px auto;display: inline-block;}
.archiveContentHTML, .eventIndex, .monthlyIndex, .yearlyIndex {
	width:99%;
	max-width:620px;
	min-width:240px;
	padding:5px;
	margin:5px
}
.meDate {
	margin:0 6px;
	float:left
}
.eventRow .meDate {
	margin:0 6px;
	float:left;
	min-width:100px
}
.eventRow, .indexRow {
	margin-top:4px;
	padding-top:8px;
	border-top:1px solid #ddd;
	width:98%;
	display:table
}
.indexLink {
	display:block;
	background-color:#eee;
	padding:10px
}
.monthlyIndex div.thumbNail, .ongoingEventsTitle .thumbnail {
	display:block;
	float:right;
	width:70px
}
div.archiveContentHTML div.row div {
	margin-top:10px;
	padding:10px;
	background-color:#eee
}
div.SELECTLIST {
	padding-bottom:10px
}
div.blog, div.list, div.standard {
	padding:5px;
	/* overflow-wrap:normal; */
	/* overflow-y:visible; */
	display: block;
	float: left;
	width: 100%;
}
.SW div.blog, .SW div.list, .SW div.standard {
	display:block}
div.standard ul {
	background-color:transparent
}
ul.blogList, ul.contentList {
	padding: 1px;
	margin: 0;
	display: table;}
.tabcontent ul.contentList {
	/*padding:10px;*/
	/*display: block;*/
	/*display: block;*/
	position: relative;
	/*left: 10px;*/
}
div.blog div.thumbnail {
	width:30%
}
span.shortdesc {
	display:block;
	font-size:90%
}
li.contentItem.nodot {
	clear:both;
	padding-bottom:5px;
	display:block
}
li.contentItem.dot {
	display:list-item;
	margin-top:6px;position: relative;
	list-style-type: disc;
	left: 10px;
}
li.blogItem.nodot {
	border-bottom:1px dashed #ccc;
	margin-bottom:5px
}
li.blogItem.dot {
	border-bottom:1px dashed #ccc;
	margin-bottom:5px;
	display:list-item
}
li.blogItem .bodylinks {
	display:block
}
.thumbnail {
	padding:3px;
	max-width:30%
}
.thumbnail img {
	width:100%
}
.LEFT img {
	margin-right:10px
}
.LEFT {
	float:left
}
.CENTER {
	float:none;
	padding:0;
	max-width: 100%;
}
.RIGHT img {
	margin-left:10px
}
.RIGHT {
	float:right
}
.contentImg{max-width: 40%;margin:10px;border:4px solid #fff;box-shadow: 3px 3px 10px #888;}

div.newspaper {
	display:table;
	width:100%
}
ul.splitCol.col_1 {
	width:48%;
	float:left;
	padding-left:0
}
ul.splitCol.col_2 {
	float:right;
	width:48%;
	padding-left:0
}
div.SELECTLIST {
	display: block;
	position: relative;
	top: 10px;
	margin-bottom: 10px;
}
#siteBanner {
	float:left;
	z-index:100;
	display:inline-block;
	position:relative;
	width:100%;
	margin-bottom:-3px
}
#migovBrand {
	z-index:600;
	display:none;
	position:relative
}

#breadcrumb, h1#breadcrumb {
  text-transform: uppercase;
  font-size: 85%;
  margin-left: 5px;
  font-weight: normal;
  margin-top: -20px;
  background: none !important;
}
.siteBannerTxt {
	position:absolute;
	top:70px;
	display:none;
	z-index:100;
	max-width:480px;
	min-width:240px;
	white-space:normal;
	margin-left:4em;
	color:#fff;
	font-size:2em;
	font-weight:400
}
.SW {
	display:block;
	width:48%;
	margin:1%;
}
.DW {
	display:block;
	width:98%;
	margin:1%;
}
.page {
	display:block
}
#main.page.TW {
	width:83%;
	float:right
}
.page.FW {
	width:100%;
	max-width:960px;
	margin:0 auto
}
.page.FW .FW {
	width:98%;
	padding:0 10px
}
.page.FW .DW {
	width:48%;
	display:inline-block
}
.page.TW .TW {
	width:98%;
	margin:0 .05%;
	float:left
}
.page.TW .SW {
	width: 31%;
	margin: 1%;
	float:left}
.page.TW .DW {
	float:left;
	width:65%;
	margin:5px
}
.page.TW .DW .DW{
	float:left;
	width:95%;
	margin:8px
}
.page.TW .DW .SW{
	float:left;
	width:45%;
	margin:8px
}
.page.DW {
	width:65%;
	margin:0
}
.page.DW .DW {
	width:97%;
	margin:5px;
	clear:both
}
.page.DW .SW {
	width:48%;
	margin:5px;
	float:left
}
.col1 {
	clear:left}
.col2 {
	display:inline
}

#BOTTOM_NAV_LINKS, #POLICY_NAV_LINKS, .copyright {
	-webkit-padding-start:0;
	text-align:center
}
#topNavSearch {
	width:400px;
	float:right;
	height:30px;
	display:inline-block;
	/* margin:5px 5px -40px; */
	margin-top: 8px;
	margin-bottom: -80px;
}
#topNavSearch form {
	width:100%;
	float:right
}
#query {
	float:left;
	height:30px;
	width:86%;
	border:1px solid #a4c3ca;
	background:#fff;
	-moz-border-radius:5px;
	border-radius:5px
}
#go {
	background:url(/images/searchIconWhite.png) 50% 50%/70% no-repeat #6cbb6b;
	border-radius:5px;
	border-width:0;
	height:30px;
	margin:1px;
	padding:0;
	width:30px;
	cursor:pointer;
	color:transparent
}
#go:hover {
	background:url(/images/searchIconWhite.png) norepeat
}
#go:active {
	background:url(/images/searchIconWhite.png) #95d788;
	outline:0
}
#go:-moz-focus-inner {
border:none
}
#query::-webkit-input-placeholder {
color:#9c9c9c;
font-style:italic
}
#query:-moz-placeholder {
color:#9c9c9c;
font-style:italic
}
#query.placeholder {
	color:#9c9c9c!important;
	font-style:italic
}
#query:focus {
	border-color:#8badb4;
	background:#fff;
	outline:0
}
#topnav {
	max-width:815px;
	height:25px;
	float:left
}
#menu {
	width:15.625%;
	float:left;
	top: -28px;
	position: relative;
}
#main {
	position:relative;
	background-color:#fff;
	float:left
}
#bannerHolder {
	width:83%
}
@media screen and (max-width: 959px) {
#topNavSearch {
	position:relative;
	margin-bottom:10px;
	display:inline-block;
	width:80%;
	float:none
}
img.AGENCY_HEADER_L, img.AGENCY_HEADER_R {width:50% !important} 

#topNavSearch form {
	width:90%;
	margin:0 auto
}
#subTop {
	width:100%
}
#main {
	/*width:96%;*/
	/*float:none*/
}
.page {
	padding:0 1%
}
#social_nav_horizontalRD {
	float:right
}
#main.page.TW, .page.TW {
	width:98%;
	margin:0 .05%;
	/* float:none */}
.page.DW, .page.DW .DW {
	width:98%
}
.page.DW .SW, .page.TW .DW, .page.TW .SW {
	width:48%
}
page.TW .TW {
	width:98%;
	float:left
}
#bannerLinks .migovlink, div#menubannerLinks .migovlink {
	display:inline-block;
	float:right
}
#mainnav LI A, #nav LI A {
	font-weight:400
}
#superTop .migovlink a {
	display:inline-block
}
}
@media screen and (max-width:767px) {
.mobileHide {
	display:none
}
ul.blogList, ul.contentList {
	padding:0;
	margin-top:0;
	display:block
}
#topNavSearch {
	position:relative;
	float:none;
	width:99%;
	display:inline-block
}
#bannerHolder {
	display:none
}
#migovBrand {
	display:none;
	position:absolute;
	top:-6669px
}
#siteBanner {
	float:left;
	z-index:100;
	display:inline-block;
	position:relative;
	width:100%
}
#bannerHolder {
	width:100%
}
div#menubannerLinks .migovlink a {
	display:inline-block
}
#topnav, div#bannerLinks, ul#TOP_NAV_LINKS, ul#bannerLinks {
	display:none
}
#subTop {
	width:100%;
	display:none
}
.page.TW .SW, .page.TW .SW.col3 {
	width:48%;
	float:left
}
.page.TW .SW.col3 {
	clear:left
}
div#expandedFooter {
	min-width:280px
}
.footer_1 {
	width:98%;
	FLOAT:LEFT;
	display:inline-block;
	margin:1%;
	text-align:left
}
.footer_1 li {
	float:none;
	display:list-item
}
}
@media only screen and (max-width:600px) {
.componentHeaderImg {
	float:none
}
}
@media only screen and (max-width:480px) {
#rightNav {
	width:95%;
	float:none;
	display:inline-block
}
.page.DW .DW, .page.DW .SW, .page.TW .DW, .page.TW .SW {
	width:95% !important;
	margin:1%;
}
#siteBanner {
	float:left;
	z-index:100;
	display:block;
	position:relative;
	width:100%;
	height:60px;
	height:auto;
	overflow:hidden
}
ul.splitCol.col_1, ul.splitCol.col_2 {
	width:98%;
	float:left
}
img.AGENCY_HEADER_L {
	display:block;
	float:left;
	width:100% !important;
	min-width:320px
}
img.AGENCY_HEADER_R {
	display:none;
	float:right
}
#social_nav_horizontalRD {
	max-height:47px;
	display:inline-block;
	padding-top:0
}
.footer_box p a, .footer_box p a:visited, a, a:visited {
	color:#09C;
	font-weight:700
}
#footerArea {
	text-align:left
}
#BOTTOM_NAV_LINKS, #POLICY_NAV_LINKS {
	width:45%;
	display:inline-block
}
#footerArea li.fLinks {
	border:none
}
ul.footerLinks {
	width:100%;
	float:left;
	font-size:.9em
}
.responsive-accordion__panel {
	margin:10px
}
.responsive-accordion__panel p {
	padding-bottom:6px
}
#social_nav_horizontalRD {
	position:relative;
	float:right;
	width:97%;
	margin-top:4px
}
#rightLinkPush {
	width:100%;
	display:block
}
.shortdesc {
	display:block
}
.thumbnail {
	display:none
}
li.contentItem.dot, li.contentItem.nodot {
	clear:both;
	display: block;
	padding:5px 2px;
	list-style-position:inside
}
#footerArea li {
	display:block
}
.siteBannerTxt {
	font-size:2.5em;
	margin-left:2.2em;
	position:absolute;
	top:1.7em
}
div#expandedFooter div {
	min-width:200px
}
.ongoingEventsDates {
	width:30%;
	float:left
}
.ongoingEventsTitle {
	width:70%;
	min-width:230px
}
}
@media only screen and (max-width:321px) {
.siteBannerTxt {
	font-size:1.75em;
	margin-left:2.2em;
	position:absolute;
	top:2.2em
}
#query {
	width:80%
}
}
form.cmxform {
	width:370px;
	font-size:1em;
	color:#333
}
form.cmxform legend {
	padding-left:0
}
form.cmxform label, form.cmxform legend {
	color:#333
}
form.cmxform fieldset {
	border:none;
	border-top:1px solid #C9DCA6;
	background:url(../images/cmxform-fieldset.gif) left bottom repeat-x #F8FDEF
}
form.cmxform fieldset fieldset, form.cmxform fieldset p {
	padding:5px 10px 7px;
	background:url(../images/cmxform-divider.gif) left bottom repeat-x
}
form.cmxform label.error, label.error {
	color:red;
	font-style:italic;
	display:block
}
div.error {
	display:none
}
input, textarea {
	border:1px solid #000
}
input.checkbox {
	border:none
}
input:focus {
	border:1px dotted #000
}
input.error {
	border:1px dotted red
}
form.cmxform .gray * {
	color:gray
}
img[usemap] {
	border:none;
	height:auto;
	max-width:100%;
	width:auto
}
@media print {
body {page-break-before: avoid;page-break-after: avoid;}
#main.page.TW, #bannerArea{width:98%}
#menu{display:none !important}
#topNavSearch{display:none !important}
#rightNav{display:none !important}
#globalQuicklinks{display:none !important}
#localQuicklinks{display:none !important}
#social_nav_horizontalRD{display:none !important}
.responsive-accordion__panel{display:block !important}
.responsive-tabs__panel{display:block !important}
.slide{display:block !important}
}